@import 'mixins';
@import 'variables';

.about {

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &>* {
      flex: 1 1 50%;
      min-height: 48.3rem;
    }

    .about-text {
      background: $downriver-950;
      padding: 5rem;
      border-top-left-radius: .8rem;
      border-bottom-left-radius: .8rem;
      display: grid;
      align-content: center;

      @include breakpoint(small) {
        border-radius: 0;
        border-top-right-radius: .8rem;
        border-top-left-radius: .8rem;
      }

      h2,
      h3,
      p {
        color: $light-grey;
      }

      p {
        font-size: $text-base;
        margin-top: 2.7rem;
        margin-bottom: 3.5rem;
      }

      .more {
        display: inline-flex;
        width: fit-content;

        gap: 1rem;
        @include callBtn(1rem, 3rem, 1rem);

        background-color: $aquamarine-400;

        button {
          color: $downriver-950;
          font-size: $text-lg;
          font-weight: bold;
        }

        i {
          color: $downriver-950;
          font-size: 2.8rem;
        }
      }
    }

    iframe {
      border-top-right-radius: .8rem;
      border-bottom-right-radius: .8rem;

      @include breakpoint(small) {
        border-radius: 0;
        border-bottom-right-radius: .8rem;
        border-bottom-left-radius: .8rem;
      }

      min-height: 48.3rem;
      width: 100%;
    }
  }
}