@import 'mixins';
@import 'variables';

.hero {
  position: relative;

  background: $downriver-950;
  color: $light-grey;

  .container {
    align-items: center;

    gap: 4rem;

    h1 {
      font-size: 6.4rem;
    }

    p {
      color: $light-grey;
    }

    img {
      width: 41rem;
      margin-left: auto;

      @include breakpoint(medium) {
        margin: auto;
        width: 100%;
      }
    }

    button {
      @include callBtn();
    }
  }
}