//Colors - base: #00EBC7
$aquamarine-50: #edfffc;
$aquamarine-100: #c0fff6;
$aquamarine-200: #81fff0;
$aquamarine-300: #3affe8;
$aquamarine-400: #00ebc7;
$aquamarine-500: #00e2c1;
$aquamarine-600: #00b7a0;
$aquamarine-700: #009180;
$aquamarine-800: #007267;
$aquamarine-900: #045d55;
$aquamarine-950: #003a37;

// COLORS - base: #00214d
$downriver-50: #e9f9ff;
$downriver-100: #cef2ff;
$downriver-200: #a7eaff;
$downriver-300: #6be0ff;
$downriver-400: #26caff;
$downriver-500: #00a4ff;
$downriver-600: #007aff;
$downriver-700: #005fff;
$downriver-800: #0051e6;
$downriver-900: #004ab3;
$downriver-950: #00214d;

// COLORS
/* GREY */
$main-grey: #0a0a0a;
$dark-grey: #171717;
$light-grey: #e5e5e5;
$alt-grey: #BDBDBD;

// TEXTS SIZE
$text-xs: 1.2rem;
$text-sm: 1.4rem;
$text-base: 1.6rem;
$text-lg: 1.8rem;
$text-xl: 2rem;
$text-2x1: 2.4rem;
$text-3x1: 3rem;
$text-3x2: 3.6rem;
$text-4x1: 4.4rem;
$text-5x1: 5.2rem;